<html>
  <head>
    <title>De blog van Marloes</title>
  </head>
  <body>
    <div>
      <h1>Django Girls blog</h1>
    </div>
    <div>
      <p>published: 06.06.2014, 15:04</p>
      <h2><a href="">My first post</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
    </div>

    <div>
      <p>published: 06.06.2014, 15:04</p>
      <h2><a href=""> My second post</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
    </div>
  </body>
</html>
